@media all and (max-width: 600px) {
    body {
        font-size: 3vw;
    }
}

@media all and (min-width: 601px) and (max-width: 800px) {
    body {
        font-size: 2vw;
    }
}

body {
    background-color: #202020;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Pontano Sans', sans-serif;
    margin: 0;
}

nav {
    background-color: #00897b;
    box-shadow: 0 1px 5px #00897b;
    padding: 10px 30px;
}

footer {
    background-color: #606060;
    box-shadow: 0 1px 5px #606060;
    color: #fff;
    font-size: 1em;
    padding: 20px 0;
    text-align: center;
}

.away-team {
    display: inline-block;
    width: 35%;
}

.block {
    margin-bottom: 16px;
}

#container {
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
}

.country {
}

.date {
    float: right;
}

#days {
    text-align: center;
    margin: 30px 0;
}

#days a {
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background: #606060;
}

#days a:hover {
    background: #DCDCDC;
    color: #202020;
    text-decoration: underline;
}

#days a.active {
    background: #DCDCDC;
    color: #202020;
}

.header {
    background-color: #606060;
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

.home-team {
    display: inline-block;
    text-align: right;
    width: 35%;
}

.logo {
    filter: invert(100%);
    max-width: 40px;
    margin-bottom: 0.1em;
    width: 5vw;
    vertical-align: middle;
}

.minute {
    display: inline-block;
    width: 10%;
}

.navbrand {
    color: #fff;
    font-family: 'Jockey One', cursive;
    font-size: 2.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.result {
    background-color: #404040;
    border-bottom: 2px solid #606060;
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
    padding: 5px;
}

.results {
    white-space: nowrap;
}

.score {
    display: inline-block;
    text-align: center;
    width: 10%;
}